<p id="notice"><%= notice %></p>

<div class="row">
	<h2><%= @project.title %></h2>
	<br />
	<div class="col-md-12 project">
	<%= image_tag @project.photo.url %>
	</div>
</div>

<p>
  <%= @project.description %>
</p>

<%= link_to 'Back', portfolio_index_path %>
