<p class="text-center">If you asked me what my favorite projects were, I’d tell you I love getting my hands dirty with code, creating magazines from start to finish, and conducting interviews with my favorite rock stars (I moonlight as a journalist)!</p>
	<div class="row text-center">
		<a href="about.html"><button class="btn btn-info">About me</button></a>
	</div>
	
	<div class="row">
		<h1>Featured Projects</h1>
		<p>My portfolio site is still under construction, but while I finish up, feel free to glance over my featured projects!</p>
	</div>

			
	<div class="row">
		
		<% @projects.each do |project| %>
			<% if project.featured.to_s == "true" %>
				<div class="col-md-4 project">
					<div class="thumbnail">
						<%= image_tag project.photo.url %> <!-- NEEDS TO BE A LINK -->
					</div><!--THUMBNAIL-->
						<br />
						<div class="row text-center"><h3><%= link_to project.title, project %><h3></div>
						<div class="row text-center"><%= project.description %></div>	
						<br />
				</div><!--end column-->
			<% end %>
		<% end %>
		
	</div> <!--END ROW-->
		
<div class="row text-center">
		<button class="btn btn-info construction">View More</button>
		<p class="msg">This section is still under construction!</p>
	</div>




	<div class="row">
	<h1>Categories</h1>
	<p class="text-center">You might wonder what projects I’ve worked on. Well, with a background in product development, a little bit of everything, from jewelry accessories to Little Idea’s “The Elk” project for the Democratic National Convention. More recently, I’ve worked on Rails-based applications for the web - check them out!</p>
	</div>
	<br />
	<div class="row">
	
		<div class="col-md-2">
		</div>
	
		<div class="col-md-3">
			<div class="categories text-center" id="web">
				<%= image_tag "mac.png", :alt => 'Web' %>
			</div>
			<h2>Web.</h2>
		</div>
		
		<div class="col-md-3">
			<div class="overlay">
			<div class="categories text-center" id="design">
				<%= image_tag "news.png", :alt => 'Graphic Design' %>
			</div>
			</div> <!--overlay-->
			<h2>Design.</h2>
		</div>
		
		<div class="col-md-3">
			<div class="categories text-center" id="writing">
				<%= image_tag "pen.png", :alt => 'Writing' %>
			</div>
			<h2>Articles.</h2>
		</div>
		
	<div class="col-md-1">
	</div>

	
	</div> <!--ROW-->