<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Sarah Hudson">

<head>
	<title>Home | Sarah Hudson - Web Designer and Developer Portfolio</title>
	<%= stylesheet_link_tag "application", :media=> "all" %>
	<%= javascript_include_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav navbar-right" id="navigation">
			<li><%= link_to "home", root_path %></li>
			<li><%= link_to "about", main_about_path %></li>
			<li><%= link_to "projects", portfolio_index_path %></li>
			<li><%= link_to "blog", blog_posts_index_path %></li>
			<li><%= link_to "contact", main_contact_path %></li>
			<% if user_signed_in? %>
			<li><%= link_to "dashboard", dashboard_index_path %>
			<li><%= link_to "log out", destroy_user_session_path, method: "delete" %></li>
			<% end %>
		</ul>
		</div>
		</nav>
<div class="container">
	<div class="row">
		<h4 class="msg">"I'm still working on that section! Feel free to browse my Featured projects in the meantime. :)"</h4>
		<h1>My name is Sarah Hudson. And I'm a Designer & Developer.</h1>
		<br />
	</div> <!--END ROW-->

<%= yield %>

</div> <!--CONTAINER-->
	<footer class="panel-footer">
	<div class="container text-center">
	<div class="row">
		<ul class="social">
			<li class="social"><a href="http://www.twitter.com/SarahHudson2008"><%= image_tag "twitter.png", :alt => 'Twitter' %></a></li>
			<li class="social"><a href="http://www.linkedin.com/profile/view?id=149627007&trk=nav_responsive_tab_profile_pic"><%= image_tag "linkedin.png", :alt => 'LinkedIn' %></a></li>
			<li class="social"><a href="https://github.com/shudsonbstar4"><%= image_tag "github.png", :alt => 'GitHub' %></a></li>			
		</ul>
	</div>
	</div>
	</footer>


</body>
</html>
